.language { 
    /*position: absolute; top: 5px; right: 5px; padding: 20px; */
    text-align:center;
    float:right;
    line-height: 70px;
    height: 70px;
    display: flex;
justify-content: center; /* align horizontal */
align-items: center;
}
.english { display: inline;}
.dutch { display: none;  }

label{
    padding-top: 5px;
    color: white ;
}

nav a {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.navbar-nav{
    
    margin-right: 5px;
}